@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
  box-sizing: border-box;
}

.container {
  display: grid;
  font-family: 'Nanum Gothic', sans-serif;
}

ul {
  margin: auto;
}

h3 {
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-family: 'PT Mono', monospace;
}

li {
  list-style: none;
  display: inline;
  padding: 5px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #B09398;
  color: white;
}

h1 {
  padding: 10px;
  font-family: 'PT Mono', monospace;
}

.home-image {
  padding: 10px;
}

.blog-gallery {
  display: block;
  padding: 20px;
}

.blog-posts {
  width: 600px;
  height: 300px;
  padding: 10px;
  border: 1px dotted #BFEB79;
  margin: 8px auto;
}

img {
  display: flex;
  max-width: 600px;
  margin: auto;
}



a {
 color: white;
 text-decoration: none;
}

a:hover {
  color: #BFEB79;
}

.signup-text {
  margin: auto;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: ;
  max-width: 400px;
  margin: auto;
  padding: 4px;
}

label {
  padding: 4px;
  margin: auto;
}

.blog-post {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.post-border {
  border: 1px dotted #BFEB79;
  padding: 10px;
  margin: 5px auto;
}

span {
  color: #9B6A6C;
}

span:hover {
  color: BFEB79;
}

button {
  border: none;
  padding: 10px;
  margin: 5px auto;
  width: 150px;
  background-color: #1B9AAA;
  color: white;
  font-size: 16px;
}

input {
  padding: 5px;
}

.submit-button:hover {
  background-color: #BFEB79;
}

.header-links {
  color: black;
}

.header-links:hover {
  color: #1B9AAA;
}

@media only screen and (max-width: 600px) {
  .container {
      display: grid;
      grid-template-rows: 150px 3fr;
      justify-content: space-between;
  }

  h1 {
      margin: auto;
      padding: 5px;
  }

  .nav {
    padding: 5px;
  }

  ul {
      display: flex;
      flex-direction: column;
      padding: none;
  }

  .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .blog-posts {
    border: none;
    margin: 4px;
  }
}